.Navigation_Bars {
    width: 1000px;
    height: 60px;
    background-color: burlywood;
}

h2 {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



#btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.add{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.delete{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.Navigation_Bars>a {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.Navigation_Bar {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 10px;
    border-bottom: 5px solid brown;
    text-decoration: none;

}

#histogram {
    margin-left: 10px;
}

.Navigation_Element:hover {
    color: black;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.Navigation_Bar>a {
    text-decoration: none;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.init {
    width: 1000px;
    background-color: antiquewhite;
}


.draggable {
    position: relative;
    background-color: white;
    height: 50px;
    width: 50px;
    cursor: grab;
}




.dragging {
    background-color: blue;
}

.row {
    display: inline-block;
}

.col {
    display: block;
}

.invisible {
    display: none;
}

.ctrlgate {
    height: 60px;
    width: 122px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}





p {
    font-family: "PT Serif", 'Times New Roman', Times;
    font-size: 20px;
    line-height: 1.5;
}

#content {
    margin-left: 2px;
}

.droppable {
    background-image: url('./images/Line.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: white;
    display: inline-block;
}

.noplacement {
    background-image: url('./images/No_Placement.svg');
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 2px;

}



.ctrlline {
    background-image: url('./images/ctrlline.svg');
    height: 50px;
    width: 50px;
    margin: 2px;
    display: inline-block;
}

.cols {
    white-space: nowrap;
    height: 60px;
}

.qubit {
    cursor: pointer;
    -webkit-user-drag: none;
}

.gate {
    height: 50px;
    width: 50px;
    margin: 2px;
    border: 2px black solid;
    background-color: white;
    display: inline-block;
}

.drag-over {
    background-image: none;
    background-color: grey;
    opacity: 50%;
}

#X {
    background-image: url('./images/X.svg');
}

#Y {
    background-image: url('./images/Y.svg');
}

#measure {
    background-image: url("./images/Measure0.svg");
}

#Z {
    background-image: url('./images/Z.svg');
}

#H {
    background-image: url('./images/H.svg');
}

#T {
    background-image: url('./images/T.svg');
}

#S {
    background-image: url('./images/S.svg');
}

#ctrl {
    background-image: url('./images/Ctrl.svg');
}

#CtrlX {
    background-image: url('./images/CtrlX.svg');
}

#CtrlRx {
    background-image: url('./images/Rx.svg');
}

#swap {
    background-image: url('./images/SWAP.svg');
}


#New_Area {
    margin-top: 10px;
}

#Rtheta {
    height: 20px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.Rest_Navigation {
    margin-left: 54px;
}

.Ctrlgate_Navigation {
    display: inline-block;
}

#nav_input {
    margin-left: -5px;
    line-height: 20px;
    height: 20px;
    color: blue;
    font-weight: bold
}


.fold_name {
    width: 120px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
    
}

.fold_name:hover {
    cursor: pointer;
    background-color: rgb(105, 179, 162);
}

.Gate_Name {
    font-size: 20px;
    margin-left: 20px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.init>button {
    margin: 10px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}


.input {
    margin: 10px;
    width: 100px;
}

#Matrix>svg>.axis text {
    font: 10px sans-serif;
}



#Matrix>svg>.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#histogram>svg>.axis line {
    visibility: hidden;
}

.fonts text {
    font-family: sans-serif;
    font-size: 10px;
}


#Dragable_Area {
    float: left;
}


#qvizarea {
    margin-top: -12px;
    display: inline-block;
}

#result_display {
    display: none;
}

.result {
    display: inline-block;
}

#Histogram {
    position: relative;
    top: -20px;
}

.Control_Gates {
    margin-top: 10px;
}


.h2 {
    margin: 10px 0px;
    font-size: 28px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#output {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-family: "Arial";
}

.title>button {
    width: 100px;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.click_close {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url("./images/Close.svg");
    margin-left: 100%;
    z-index: 100;
}



.adjust_package_ac {
    width: 20px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-image: url('./images/move_right.svg');
    z-index: 50;
}

.adjust_package_ar {
    width: 50px;
    height: 20px;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-image: url('./images/move_down.svg');
    z-index: 50;
}

.adjust_package_dr {
    width: 50px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-image: url('./images/move_up.svg');
    z-index: 50;
}

.adjust_package_dc {
    width: 20px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-image: url('./images/move_left.svg');
    z-index: 50;
}

.gate_package {
    opacity: 0.5;
    background-color: gray;
}

.rubbish {
    height: 50px;
    width: 50px;
    margin: 2px;
    background-image: url("./images/Ashcan_close.svg");
    display: inline-block;
}

.rubbish:hover {
    height: 50px;
    width: 50px;
    margin: 2px;
    background-image: url("./images/Ashcan_open.svg");
    display: inline-block;
}